* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.aka {
  color:red;
  font-size: 50px;
}